<template>
  <section>
    <page-header />
    <router-view/>
    <page-footer />
  </section>
</template>

<script>
import PageHeader from '@/components/Header.vue'
import PageFooter from '@/components/Footer.vue'
export default {
  name: 'app',
  components: {
    PageHeader,
    PageFooter
  }
}
</script>

<style>

</style>
