<template>
  <nav id="breadcrumbs">
    <ul>
      <li>You are here:</li>
      <li v-for="crumb in crumbs">
        <router-link :to="{name : crumb.route_name}">{{ crumb.name }}</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
  export default {
    props: [
      'crumbs'
    ],
    mounted () {
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>

