<template>
  <v-layout>
    <v-flex xs4>
      <panel title="Song Metadata">
        <v-text-field
          name="title"
          label="Title"
          required
          :rules="[required]"
          v-model="song.title"
        ></v-text-field>

        <v-text-field
          name="artist"
          label="Artist"
          required
          :rules="[required]"
          v-model="song.artist"
        ></v-text-field>

        <v-text-field
          name="genre"
          label="Genre"
          required
          :rules="[required]"
          v-model="song.genre"
        ></v-text-field>

        <v-text-field
          name="album"
          label="Album"
          required
          :rules="[required]"
          v-model="song.album"
        ></v-text-field>

        <v-text-field
          name="albumImageUrl"
          label="Album Image Url"
          required
          :rules="[required]"
          v-model="song.albumImageUrl"
        ></v-text-field>

        <v-text-field
          name="youtubeId"
          label="Youtube Url"
          required
          :rules="[required]"
          v-model="song.youtubeId"
        ></v-text-field>
      </panel>
    </v-flex>

    <v-flex xs8 class="ml-2">
      <panel title="Song Structure">
        <v-text-field
          name="lyrics"
          label="Lyrics"
          required
          :rules="[required]"
          multi-line
          v-model="song.lyrics"
        ></v-text-field>

        <v-text-field
          name="tab"tab
          label="Tab"
          required
          :rules="[required]"
          multi-line
          v-model="song.tab"
        ></v-text-field>
      </panel>
      <v-alert color="error" icon="warning" value="true" v-if="error">
        {{error}}
      </v-alert>

      <v-btn dark  class='cyan mt-4' @click="store">Create song</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
  import SongsService from '../services/SongsService'
  import Panel from '@/components/Panel'
  export default {
    components: {
      Panel
    },
    data () {
      return {
        song: {
          title: null,
          artist: null,
          genre: null,
          album: null,
          albumImageUrl: null,
          youtubeId: null,
          lyrics: null,
          tab: null
        },
        error: null,
        required: (value) => !!value || 'Required.'
      }
    },
    methods: {
      async store () {
        this.error = null
        const areAllFieldsFilledIn = Object
          .keys(this.song)
          .every(key => !!this.song[key])

        if (!areAllFieldsFilledIn) {
            this.error = 'Please fill in all required fields.'
            return
        }

        try {
          await SongsService.store(this.song)
          this.$router.push({
            name: 'songs'
          })
        } catch (err) {
          console.log(err)
        }
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .alert{
    position: fixed;
    right: 0;
    bottom: 15px;
  }
</style>
