<template>
  <section>
    <!-- Footer
    ================================================== -->
    <div class="margin-top-15"></div>

    <div id="footer">
      <!-- Main -->
      <div class="container">

        <div class="seven columns">
          <h4>About</h4>
          <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut
            lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
          <a href="#" class="button">Get Started</a>
        </div>

        <div class="three columns">
          <h4>Company</h4>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Our Blog</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Hiring Hub</a></li>
          </ul>
        </div>

        <div class="three columns">
          <h4>Press</h4>
          <ul class="footer-links">
            <li><a href="#">In the News</a></li>
            <li><a href="#">Press Releases</a></li>
            <li><a href="#">Awards</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Timeline</a></li>
          </ul>
        </div>

        <div class="three columns">
          <h4>Browse</h4>
          <ul class="footer-links">
            <li><a href="#">Freelancers by Category</a></li>
            <li><a href="#">Freelancers in USA</a></li>
            <li><a href="#">Freelancers in UK</a></li>
            <li><a href="#">Freelancers in Canada</a></li>
            <li><a href="#">Freelancers in Australia</a></li>
            <li><a href="#">Find Jobs</a></li>

          </ul>
        </div>

      </div>

      <!-- Bottom -->
      <div class="container">
        <div class="footer-bottom">
          <div class="sixteen columns">
            <h4>Follow Us</h4>
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
              <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
              <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
            </ul>
            <div class="copyrights">© Copyright 2015 by <a href="#">Work Scout</a>. All Rights Reserved.</div>
          </div>
        </div>
      </div>

    </div>

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

  </section>
</template>

<script>
  export default {
    methods: {
      navigateTo (route) {
        this.$router.push(route)
      },
      logOut () {
        this.$store.dispatch('setToken', null)
        this.$store.dispatch('setUser', null)
        this.$router.push({
          name: 'root'
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
