<template>
    <section>
      <!-- Includes -->
      <notifications position="top right" classes="my-style"/>

      <title-bar title="Login" >
        <bread-crumbs slot="bread-crumbs" :crumbs="getDataBreadCrumbs()"/>
      </title-bar>

      <!-- Container -->
      <div class="container">

        <div class="my-account">

          <ul class="tabs-nav-custom">
            <li class="active"><router-link :to="{name: 'login'}">Login</router-link></li>
            <li><router-link :to="{name: 'register'}">Register</router-link></li>
          </ul>

          <div class="tabs-container">
            <!-- Login -->
            <div class="tab-content">
              <form method="post" class="login">

                <p class="form-row form-row-wide" :class="errors.has('username') ? 'error-label':''">
                  <label for="username">Username:
                    <i class="ln ln-icon-Male error-icon"></i>
                    <input v-validate="'required|max:30'" type="text" class="input-text" name="username" id="username" value="" v-model="username"/>
                  </label>
                  <span class="error-message" v-show="errors.has('username')">{{ errors.first('username') }}</span>
                </p>

                <p class="form-row form-row-wide" :class="errors.has('password') ? 'error-label':''">
                  <label for="password">Password:
                    <i class="ln ln-icon-Lock-2 error-icon"></i>
                    <input v-validate="'required'" class="input-text" type="password" name="password" id="password" v-model="password"/>
                  </label>
                  <span class="error-message" v-show="errors.has('password')">{{ errors.first('password') }}</span>
                </p>

                <p class="form-row">
                  <input :disabled="errors.any()" :class="errors.any() ? 'disable-submit': ''" type="submit" class="button border fw margin-top-10" name="login" value="Login" @click="login($event)"/>
                </p>

                <p class="lost_password">
                  <a href="#" >Lost Your Password?</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
</template>


<script>
  import AuthenticationService from '@/services/AuthenticationService'
  import TitleBar from '@/components/Titlebar.vue'
  import BreadCrumbs from '@/components/BreadCrumbs.vue'
  export default {
    components: {
      TitleBar,
      BreadCrumbs
    },
    data () {
      return {
        username: '',
        password: ''
      }
    },
    methods: {
      async login (e) {
        e.preventDefault()
        let validationError = false

        await this.$validator.validateAll().then((result) => {
          if (!result) {
            validationError = true
          }
        })

        if (validationError) {
          this.$notify({
            type: 'error',
            title: 'Validation Error',
            text: 'Correct them errors!'
          })
          return
        }

        try {
          const response = await AuthenticationService.login({
            username: this.username,
            password: this.password
          })
          this.$store.dispatch('login', response.data)
          this.$router.push({name: 'root'})
        } catch (err) {
          if (err.response.status === 400 || err.response.status === 403) {
            if (err.response.status === 403) {
              this.$notify({
                type: 'error',
                title: 'Authorization failed',
                text: 'Please Try Again!'
              })
            } else {
              this.$notify({
                type: 'error',
                title: 'Validation Error',
                text: 'Correct them errors!'
              })
            }

            if (err.response.data.errors) {
              err.response.data.errors.forEach((k, v) => {
                this.errors.add(k.key, k.message)
              })
            }
          } else {
            this.$notify({
              type: 'error',
              title: 'An Error Occurred',
              text: 'Please try again later.'
            })
          }
        }
      },
      getDataBreadCrumbs () {
          return [
            {
              route_name: 'root',
              name: 'Home'
            },
            {
              route_name: 'login',
              name: 'Login'
            }
          ]
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
