<template>
    <section>
      <title-bar title="Register" >
        <bread-crumbs slot="bread-crumbs" :crumbs="getDataBreadCrumbs()"/>
      </title-bar>
      <!-- Container -->
      <div class="container">

        <div class="my-account">

          <ul class="tabs-nav-custom">
            <li><router-link :to="{name: 'login'}">Login</router-link></li>
            <li class="active"><router-link :to="{name: 'register'}">Register</router-link></li>
          </ul>

          <div class="tabs-container">
            <!-- Register -->
            <div class="tab-content">

              <form method="post" class="register">

                <p class="form-row form-row-wide" :class="errors.has('username') ? 'error-label':''">
                  <label for="username2">Username:
                    <i class="error-icon ln ln-icon-Male"></i>
                    <input type="text" v-validate="'required|min:3|max:30'" class="input-text" name="username" id="username2" value="" v-model="user.username"/>
                  </label>
                  <span class="error-message" v-show="errors.has('username')">{{ errors.first('username') }}</span>
                </p>

                <p class="form-row form-row-wide" :class="errors.has('email') ? 'error-label':''">
                  <label for="email2">Email Address:
                    <i class="error-icon ln ln-icon-Mail"></i>
                    <input type="text" v-validate="'required|email'" class="input-text" name="email" id="email2" value="" v-model="user.email"/>
                  </label>
                  <span class="error-message" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                </p>

                <p class="form-row form-row-wide" :class="errors.has('password') ? 'error-label':''">
                  <label for="password1" >Password:
                    <i class="error-icon ln ln-icon-Lock-2"></i>
                    <input class="input-text" v-validate="'required|min:8'" type="password" name="password" id="password1" v-model="user.password"/>
                  </label>
                  <span class="error-message" v-show="errors.has('password')">{{ errors.first('password') }}</span>
                </p>

                <p class="form-row form-row-wide" :class="errors.has('password_confirmation') ? 'error-label':''">
                  <label for="password2">Repeat Password:
                    <i class="error-icon ln ln-icon-Lock-2"></i>
                    <input class="input-text" data-vv-as="password" v-validate="'required|confirmed:password|min:8'" type="password" name="password_confirmation" id="password2" v-model="user.password_confirmation"/>
                  </label>
                  <span class="error-message" v-show="errors.has('password_confirmation')">{{ errors.first('password_confirmation') }}</span>
                </p>

                <p class="form-row">
                  <input :disabled="errors.any()" :class="errors.any() ? 'disable-submit': ''"  type="submit" class="button border fw margin-top-10" name="register" value="Register" @click="register($event)"/>
                </p>

              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Includes -->
      <notifications position="top right" classes="my-style"/>
    </section>
</template>


<script>
    import AuthenticationService from '@/services/AuthenticationService'
    import TitleBar from '@/components/Titlebar.vue'
    import BreadCrumbs from '@/components/BreadCrumbs.vue'
    export default {
        components: {
          TitleBar,
          BreadCrumbs
        },
        data () {
            return {
              user: {
                username: '',
                email: '',
                password: '',
                password_confirmation: ''
              }
            }
        },
        methods: {
          async register (e) {
            e.preventDefault()
            let validateErrors = false
            await this.$validator.validateAll().then((result) => {
              if (!result) {
                validateErrors = true
              }
            })

            if (validateErrors) {
              this.$notify({
                type: 'error',
                title: 'Validation Error',
                text: 'Correct them errors!'
              })
              return
            }

            try {
              const response = await AuthenticationService.register({
                username: this.user.username,
                email: this.user.email,
                password: this.user.password,
                password_confirmation: this.user.password_confirmation
              })

              this.$store.dispatch('login', response.data)
              this.$router.push({name: 'root'})
            } catch (err) {
              if (err.response.status === 400) {
                this.$notify({
                  type: 'error',
                  title: 'Validation Error',
                  text: 'Correct them errors!'
                })
                if (err.response.data.errors) {
                  err.response.data.errors.forEach((k, v) => {
                    this.errors.add(k.key, k.message)
                  })
                }
              } else {
                this.$notify({
                  type: 'error',
                  title: 'An Error Occurred',
                  text: 'Please try again later.'
                })
              }
            }
          },
          getDataBreadCrumbs () {
            return [
              {
                route_name: 'root',
                name: 'Home'
              },
              {
                route_name: 'register',
                name: 'Register'
              }
            ]
          }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
