<template>
  <v-layout column>
    <v-flex xs6 offset-xs3>
        <panel title="Songs">
          <v-btn class="light-green"
                 slot="action"
                 @click="navigateTo({name: 'create-song'})"
                 fab
                 medium
                 absolute
                 right
                 middle
                 dark>
            <v-icon>add</v-icon>
          </v-btn>

          <v-flex xs12 v-for="song in songs" :key="song.id" class="mb-4">
            <v-card>
              <v-card-media
                :src="song.albumImageUrl"
                height="200px"
              >
              </v-card-media>
              <v-card-title primary-title>
                <div>
                  <div class="headline">{{song.title}}</div>
                  <span class="grey--text">{{ song.artist }}</span>
                </div>
              </v-card-title>
              <v-card-actions>
                <v-btn flat>Share</v-btn>
                <v-btn flat color="purple" @click="navigateTo({name:'song',params:{songId: song.id}})">Explore</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-flex>
        </panel>
    </v-flex>
  </v-layout>
</template>

<script>
  import SongsService from '../services/SongsService'
  import Panel from '@/components/Panel'
  export default {
      components: {
        Panel
      },
      data () {
        return {
          songs: null
        }
      },

      methods: {
        navigateTo (route) {
          this.$router.push(route)
        }
      },

      async mounted () {
        this.songs = (await SongsService.index()).data
      }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card__title{
  text-align: left;
}
</style>
