<template>
  <div id="titlebar" class="single">
    <div class="container">

      <div class="sixteen columns">
        <h2>{{title}}</h2>
        <slot name="bread-crumbs" />
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    components: {

    },
    props: [
      'title'
    ]
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
