<template>
  <v-layout>
    <v-flex xs6>
      <panel title="View Song">
          {{ song.title }}
      </panel>
    </v-flex>

    <v-flex xs4 class="ml-4">
      <panel title="Tabs">

      </panel>
    </v-flex>
  </v-layout>
</template>

<script>
  import SongsService from '../services/SongsService'
  import Panel from '@/components/Panel'
  export default {
    components: {
      Panel
    },
    data () {
      return {
        song: {}
      }
    },

    async mounted () {
      const songId = this.$store.state.route.params.songId
      this.song = (await SongsService.show(songId)).data
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
