.error-label{
  position: relative;
  color: #ff5252;
  .error-icon{
    color: #ff5252;
  }
  input,select{
    border-color:#ff5252 !important;
  }
  .error-message{
    position: absolute;
    font-size: 13px;
    top: 2px;
    right: 0;
  }
}
.disable-submit{
  background-color:#f3f3f2 !important;
  color: #808080 !important;
  cursor: not-allowed !important;
}


.tabs-nav-custom{
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.tabs-nav-custom li{
  float: left;
  line-height: 45px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.tabs-nav-custom a{
  background-color: #f2f2f2;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #808080;
  font-weight: 600;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}
.tabs-nav-custom li.active a{
  background-color: #26ae61;
  color: #fff;
}
.sticky-header{
  top: 0;
}
.custom-sticky:not(.transparent){
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.22);
  top: 0;
  opacity: 1;
  visibility: visible;
}

header.transparent .menu ul li a{
  letter-spacing: 1px
}

